// @import "~styles/variables.scss";
@import '../../styles/variables.scss';

.todos-screen {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;

    &__category {
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        max-height: 100vh;

        &--collapsed {
            transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
            max-height: 3rem;
            & .todos-screen__icon-more {
                transform: rotate(-90deg);
            }
        }
    }

    &__category-header {
        height: 32px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-white;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: rgba($color-black, 0.04);
            & i {
                opacity: 0.6;
            }
        }

        & h2 {
            display: inline;

            font-size: 17px;

            & span {
                color: $color-gray-2;
                font-size: 15px;
                font-weight: 400;
                margin-left: 16px;
            }
        }
    }

    &__icon-more {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url(../../assets/icons/more.svg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        opacity: 0.4;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    &__droppable-area {
        min-height: 40px;
    }

    &__empty-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 10px;
        color: $color-gray-2;
    }

    &__todos {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 47.5%;
        padding: 15px;
        min-height: 50px;
        background-color: rgb(50, 195, 205);
        font-size: 15px;
    }
}
