@import '../../styles/variables.scss';

.todo-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20px;
    padding: 0 9px 5px;
    margin-top: 2px;
    border-radius: 5px;
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray-1;
    transition: border-color 0.1s ease;
    user-select: none;

    &:hover {
        & .todo-list-item__icon-tune {
            opacity: 0.4;
        }
        & .todo-list-item__icon-remove {
            opacity: 0.4;
        }
    }

    &:last-child {
        border-color: transparent;
    }

    &--type {
        &-Done {
            opacity: 0.4;
            & .todo-list-item__checkbox {
                border-color: $color-gray-2 !important;
                border-bottom-width: 1px !important;
            }

            & .todo-list-item__icon-check {
                opacity: 1;
            }

            & .todo-list-item__due-date {
                color: $color-gray-2;
                & span {
                    color: $color-gray-2;
                }
            }
        }
    }

    &--priority {
        &-Low {
            & .todo-list-item__checkbox {
                border-color: $color-blue;
                border-bottom-width: 2px;
            }
        }
        &-Medium {
            & .todo-list-item__checkbox {
                border-color: $color-yellow;
                border-bottom-width: 2px;
            }
        }
        &-High {
            & .todo-list-item__checkbox {
                border-color: $color-red;
                border-bottom-width: 2px;
            }
        }
    }

    &--overdue {
        color: $color-red;
    }

    &__group {
        display: flex;
        align-items: center;
        width: calc(100% - 24px);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 20px;
    }

    &__title {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__due-date {
        font-size: 12px;
        margin-left: 22px;
        color: $color-blue;
    }

    &__checkbox {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        min-width: 15px;

        border: 0.1rem solid $color-gray-2;
        border-radius: 2px;
        margin-right: 8px;
        cursor: pointer;

        transition: border-color 0.2s ease, border-width 0.2s ease;

        &:hover {
            & .todo-list-item__icon-check {
                opacity: 0.4;
            }
        }
    }

    &__icon-tune {
        display: inline-block;
        width: 20px;
        height: 24px;
        min-width: 20px;
        margin-right: 4px;
        background-image: url(../../assets/icons/tune.svg);
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.1s ease;
    }

    &__icon-remove {
        display: inline-block;
        width: 20px;
        height: 24px;
        min-width: 20px;
        background-image: url(../../assets/icons/remove.svg);
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.1s ease;
    }

    &__icon-check {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-image: url(../../assets/icons/check.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        transition: opacity 0.1s ease;
        opacity: 0;
    }
}
