@font-face {
	font-family: "Silka";
	src: url("../assets/fonts/Silka-Regular.otf");
	font-weight: 400;
}

@font-face {
	font-family: "Silka";
	src: url("../assets/fonts/Silka-Medium.otf");
	font-weight: 500;
}

@font-face {
	font-family: "Silka";
	src: url("../assets/fonts/Silka-SemiBold.otf");
	font-weight: 600;
}
