@import '../../styles/variables.scss';

.tooltip-priority {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 2.1rem;
    height: 2.1rem;

    background-color: red;
    border-radius: 0.4rem;

    color: $color-white;
    font-weight: bold;
    font-style: normal;

    pointer-events: all;
    cursor: pointer;

    opacity: 0.4;
    transition: opacity 0.1s ease, transform 0.1s ease;

    &:hover {
        opacity: 0.7;
    }

    &--selected {
        &:hover {
            opacity: 1;
        }
        opacity: 1;
        transform: scale(1.2);
    }

    &--No {
        background-color: $color-gray-2;
    }

    &--Low {
        background-color: $color-blue;
    }

    &--Medium {
        background-color: $color-yellow;
    }

    &--High {
        background-color: $color-red;
    }
}
