@import '../../styles/variables.scss';

.tooltip-content {
    color: $color-gray-3;

    &__header {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 7px;
    }

    &__group {
        display: flex;
        justify-content: space-evenly;
        min-width: 100px;
        margin-bottom: 9px;
    }
}

.__react_component_tooltip {
    padding: 8px 10px !important;
    opacity: 1 !important;
}

.react-calendar {
    color: $color-gray-3;
    width: 150px;
    border: none;

    &__navigation {
        max-height: 20px;
        margin-bottom: 6px;

        &__arrow {
            min-width: 20px !important;
            border-radius: 4px;
        }

        &__label {
            border-radius: 4px;
        }

        &__prev2-button,
        &__next2-button {
            display: none;
        }
    }

    &__month-view__weekdays__weekday {
        padding: 0;
        font-size: 8px;
    }

    &__tile {
        width: 20px;
        height: 20px;

        padding: 0;
        border-radius: 4px;

        &--active {
            background-color: $color-blue !important;
        }

        &--now {
            background-color: rgba($color-yellow, 0.2);
        }
    }

    &__year-view__months__month {
        padding: 8px !important;
        flex-basis: 50% !important;
        max-width: 50% !important;
        height: auto;
        font-size: 17px;
    }

    &__decade-view__years__year {
        padding: 8px !important;
        height: auto;
    }

    &__century-view__decades__decade {
        padding: 8px !important;
        height: auto;
    }
}
