.main-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 40px 5px;

    &__header {
        font-size: 30;
        font-weight: 500;
        line-height: 140%;
        font-style: italic;
        user-select: none;
        margin: 20px auto;
    }
    &__head {
        width: 70%;
        margin: auto;
    }
}
